
body{
    background-color: darkolivegreen;
}

line{
    display: inline-block;
    border: 1px solid darkgray;
    width: 1300px;
    height: 60px;
    text-align: center;
    line-height: 2.5;
    font-size: 25px;
    background-color: whitesmoke;
    align-items: center;
    margin-left: 7%;

}
h1{
    text-align: center;
    background-color: whitesmoke;
}
footer{
    background-color: whitesmoke;
    height: 50px;
}